.about{
	color:#fff ;
	&__headBlock{
		padding-top: 10%;
		padding-bottom: 10%;
	}
}
.myresume{
	background-color: $bg;
	min-height: 500px;
	&__container{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.myresume{
	color: $basic;
}
.info{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.info__head{
	font-size: 20px;
	color: inherit;
}
.info__text{
	font-size: 16px;
	margin-top: 8px;
	font-style: italic;
	text-align: justify;

}
.info__item{
	list-style:square outside;
	margin-left: 20px;
}