.banner{
	color:$collight;
	margin: 0 auto;
	transition: 0.5s  ease;
	transition-property: 
		padding-top,
		padding-bottom,
		white-space,
		font-size;
	
	}
.headBlock{
	margin: 0 auto;
	padding-top: 20%;
	padding-bottom: 26%;
	transition: inherit;
}

.upLine, .headline, .downLine{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	transition: inherit;

}
.headline{
	font-size: 80px;
	font-weight: bold;
	margin-top: 24px;
	margin-bottom: 0;
}
.downLine{
	margin-top: 23px;
}
@media screen and (max-width:$dee_s){
		.banner{
		margin: 0 auto;
		&__head{
			padding-top: 80px;
			padding-bottom: 90px;
		}
	}
	.upLine, .headline, .downLine{
		font-size: 16px;
	}
	.headline{
		font-size: 38px;
		margin-top: 15px;
	}
	
}
@media screen and (max-width:$dee_m){
	.banner{
		margin: 0 auto;
		&__head{
			padding-top: 110px;
			padding-bottom: 120px;
		}
	}
	.headline{
		font-size: 60px;
		margin-top: 15px;
	}
	

}
// @media screen and (min-width:$dee_m){

// }
// @media screen and (min-width:$dee_l){

// }
// @media screen and (min-width:$dee_xl){

// }