.navbarWrap {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	position: fixed;
	padding: 5px 0;
	z-index: 10;
}
.burger {
	visibility: hidden;
}
.navbar {
	width: 100%;
	line-height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
}
.menu {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}
.nav {
	min-width: 47%;
	&__item {
		color: $collight;
		padding: 10px 16px;
		transition: 0.8s color ease-out;
		&:hover {
			color: $logo;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
			transition: 0.15s ease-in-out;
		}
	}
}

@media screen and (max-width: $dee_s) {
	.navbarWrap {
		min-height: 40px;
	}
	.navbar {
		justify-content: left;
		line-height: 40px;
	}
	.nav {
		position: absolute;
		overflow: hidden;
		transition: 1s top;
		left: 0px;
		top: 45px;
		&__item {
			display: block;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			border-top: solid 1px rgba(255, 255, 255, 0.144);
		}
	}

	.menu {
		flex-direction: column;
		position: relative;
		background-color: rgba(0, 0, 0, 0.5);
		transition: 1s;
		bottom: 500px;
	}
	.bline {
		&,
		&::after,
		&::before {
			position: absolute;
			display: block;
			width: 26px;
			height: 2px;
			background-color: $bg;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			margin-left: -13px;
			border-radius: 2px;
			transition: 0.15,  height $burgerAnimate cubic-bezier(1, 0, 0.17, 1);
		}
		&::after {
			content: "";
			transform: translateY(-9px);
			animation: rotateafterDw 0.5s ease-in reverse forwards;
		}
		&::before {
			content: "";
			transform: translateY(9px);
			animation: rotatebeforeUp 0.5s ease-in reverse forwards;
		}
	}


	.burger {
		width: 42px;
		height: 38px;
		border-radius: 3px;
		position: relative;
		box-sizing: border-box;
		border: solid 1px $bg;
		visibility: visible;
		.menu:active {
			bottom: 500px;
		}
		
		&:hover {
			border-color:$bg * 0.5;
			box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
			transition: 0.15s;
			.bline,
			.bline::after,
			.bline::before {
				background-color: $bg * 0.5;
			}
		}
		
		&:active {
			border: solid 1px $bg * 0.2;
			box-shadow: inset 0 0 3px 3px rgba(255, 255, 255, 0.1);
			transition: 0.15s;
			.bline,
			.bline::after,
			.bline::before {
				background-color: $bg * 0.8;
			}
		}
	}

	.navbar-active {
		& .bline {
			background-color: #ffffff00;
			height: 0;
			transition: height $burgerAnimate cubic-bezier(1, 0, 0.17, 1);
			&::after {
				animation: rotateafterUp $burgerAnimate ease-in forwards;
			}
			&::before {
				animation: rotatebeforeDw $burgerAnimate ease-in forwards;
			}
		}
		& .menu {
			bottom: 0;
			transition: 1s;
		}
	}

	@keyframes rotateafterUp {
		50% {
			transform: translateY(0px);
		}
		100% {
			transform: rotate(45deg);
		}
	}
	@keyframes rotateafterDw {
		50% {
			transform: translateY(0px);
		}
		100% {
			transform: rotate(45deg);
		}
	}
	@keyframes rotatebeforeUp {
		50% {
			transform: translateY(0px);
		}
		100% {
			transform: rotate(-45deg);
		}
	}
	@keyframes rotatebeforeDw {
		50% {
			transform: translateY(0px);
		}
		100% {
			transform: rotate(-45deg);
		}
	}
}
