.navbarWrap {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	position: fixed;
	padding: 5px 0;
	z-index: 10;
}
.burger {
	visibility: hidden;
}
.navbar {
	width: 100%;
	line-height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
}
.menu {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}
.nav {
	min-width: 47%;
	&__item {
		color: $collight;
		padding: 10px 16px;
		transition: 0.8s color ease-out;
		&:hover {
			color: $logo;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
			transition: 0.15s ease-in-out;
		}
	}
}

@media screen and (max-width: $dee_s) {
	.navbarWrap {
		min-height: 40px;
	}
	.navbar {
		justify-content: left;
		line-height: 40px;
	}
	.nav {
		position: absolute;
		overflow: hidden;
		transition: 1s top;
		left: 0px;
		top: 45px;
		&__item {
			display: block;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			border-top: solid 1px rgba(255, 255, 255, 0.144);
		}
	}

	.menu {
		flex-direction: column;
		position: relative;
		background-color: rgba(0, 0, 0, 0.5);
		transition: 1s;
		bottom: 500px;
	}
	.bline {
		margin: auto;

		&,
		&::after,
		&::before{
			width:70%;
			height: 2px;
			background-color: $bg;
			border-radius: 4px;
			transition: background-color .15s, height $burgerAnimate $burgerAnimate ;

			// transition: background-color .15s;
			// transition: 0.15, height $burgerAnimate cubic-bezier(1, 0, 0.17, 1);
		}
		&::before {
			content: "";
			position: absolute;
			top:9px;
			transition: background-color .15s, top $burgerAnimate $burgerAnimate, transform $burgerAnimate $burgerAnimateCurv;

		}
		&::after {
			content: "";
			position: absolute;
			bottom:9px;
			transition: background-color .15s, bottom $burgerAnimate $burgerAnimate, transform $burgerAnimate $burgerAnimateCurv;
		}
		
	}


	.burger {
		width: 42px;
		height: 38px;
		border-radius: 4px;
		position: relative;
		display: flex;
		box-sizing: border-box;
		border: solid 1px $bg;
		visibility: visible;
		cursor: pointer;
		.menu:active {
			bottom: 500px;
		}

		&:hover {
			border-color:$bg * 0.5;
			box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
			.bline,
			.bline::after,
			.bline::before {
				background-color: $bg * 0.5;

			}
		}
		
		&:active {
			border: solid 1px $bg * 0.2;
			box-shadow: inset 0 0 3px 3px rgba(255, 255, 255, 0.1);
			transition: 0.15s;
			.bline,
			.bline::after,
			.bline::before {
				background-color: $bg * 0.8;
			}
		}
	}
	.navbar-active {
		& .bline {
			background-color: #ffffff00;
			height: 0;
			transition: height $burgerAnimate $burgerAnimate, background-color .15s;
			&::before {
				transform: rotate(-45deg);
				top:17px;
				transition: top $burgerAnimate, transform $burgerAnimate $burgerAnimate $burgerAnimateCurv;
			}
			&::after {
				transform: rotate(45deg);
				bottom:17px;
				transition: bottom $burgerAnimate, transform $burgerAnimate $burgerAnimate $burgerAnimateCurv;
			}
			
		}
		& .menu {
			bottom: 0;
			transition: 1s;
		}
	}
 }
