.social{
	background-color: #f2f2f2;
	transition: 0.5s all ease-in-out;
	box-shadow: inset 0px 0px 8px hsla(0, 0%, 0%, 0.3) ;
	&__contactlist{
		padding: 50px 0;
		width: 70%;
	}

}
.contactlist{
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content:space-between;
	align-self: flex-start;
	flex-wrap: wrap;
	transition: 0.8s all ease;
	&-sr{
		justify-content: center;
	}
}
.contact__item{
	margin-right: 25px;
	margin-left: 25px;
}
.iconCont{
	width: 50px;
	height: 50px;
	fill:$basic;
	padding: 3px;
}
.my{
	&:hover{
		color: $logo;
		fill: $logo;
		text-shadow:0 0 1px rgba(0, 0, 0, 0.8);
		transition: 0.1s ease-in-out;
		cursor: pointer;
		filter: drop-shadow( 0px 0px 1px rgba(0, 0, 0, .7));
		// transform: scale(1.05) ;
	}
	&:active{
		text-shadow:0 0 5px rgb(110, 59, 0);
		filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .7));

	}
}
@media screen and (max-width:$dee_xxs){
	.iconCont{
		width: 40px;
		height: 40px;
		fill:$basic;
	}
	
}
// @media screen and (min-width:$dee_xs){
// 	.social{
// 		padding: 5px 0;
// 	}
// 	.social .my{
// 		font-size: 40px;
// 		padding: 10px;

// 	}
// }
// @media screen and (max-width:$dee_m){
// 	.social{
// 		padding: 20px 0;
// 		// transition: all inherit;
// 		&__icon{
// 			width: 80%;
// 			// transition: inherit;
// 		}
// 		& .container{
// 			min-width: 100%;
// 			// transition: inherit;
// 		}
// 	}
// }
