.social{
	padding: 50px 0;
	background-color: #f2f2f2;
	transition: 0.5s all ease-in-out;

	&__icon{
		margin: 0 auto;
		width: 70%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		transition: 0.8s all ease;


	}

}
.my{
	&:hover{
		color: $logo;
		text-shadow:0 0 1px rgba(0, 0, 0, 0.8);
		transition: 0.1s ease-in-out;
		cursor: pointer;
		transform: scale(1.05) ;
	}
	&:active{
		text-shadow:0 0 5px rgb(110, 59, 0);

	}
}
// @media screen and (min-width:$dee_xs){
// 	.social{
// 		padding: 5px 0;
// 	}
// 	.social .my{
// 		font-size: 40px;
// 		padding: 10px;

// 	}
// }
// @media screen and (max-width:$dee_m){
// 	.social{
// 		padding: 20px 0;
// 		// transition: all inherit;
// 		&__icon{
// 			width: 80%;
// 			// transition: inherit;
// 		}
// 		& .container{
// 			min-width: 100%;
// 			// transition: inherit;
// 		}
// 	}
// }
